---
layout: default
title: Denny Biasiolli CV
---
<h1>{{ page.title }}</h1>


<!-- This loops through the paginated posts -->
{% for post in site.categories.cv %}
  <hr />
  <!-- <h1><a href="{{ post.url }}">{{ post.title }}</a></h1> -->
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}



<!-- {% capture cv-2016-02-maieutical-labs %}
  {% include cv-2016-02-maieutical-labs.md %}
{% endcapture %}
{{ cv-2016-02-maieutical-labs | markdownify }}

<hr />

{% capture cv-2012-04-informatica-edp %}
  {% include cv-2012-04-informatica-edp.md %}
{% endcapture %}
{{ cv-2012-04-informatica-edp | markdownify }} -->
