<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/libs/bootstrap-3.3.7/css/bootstrap.min.css">
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>
  <!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:denny.biasiolli@gmail.com">email</a></li>
      <li><a href="https://github.com/dennybiasiolli">github.com/dennybiasiolli</a></li>
      <li><a href="https://dennybiasiolli.github.io/blog/atom.xml">RSS</a></li>
    </ul>
  </footer>
</body>

</html>
